/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  font-family: "Cuprum","Arial", sans-serif;
  margin: 0;

  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.main-header {
  background-color: #f4f7f9;
  min-height: 320px;
}

.header-top {
  background-color: #293449;
  height: 42px;
}

.header-top .container {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.store-description {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
  width: 197px;
  font-style: italic;
  padding-top: 49px;
  padding-bottom: 40px;
  padding-left: 53px;
  margin: 0;
}

.header-contacts {
  position: relative;
  padding-top: 59px;
  padding-left: 68px;
  padding-right: 50px;
}

.header-contacts-padding {
  padding-right: 0;
}

.header-contacts a {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;
}

.buy-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  width: 450px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.bookmarks,
.basket,
.buy-order {
  width: 150px;
  text-align: center;
  display: block;
  padding: 12px 0;
}

.buy-content a {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.buy-content a:active {
  color: rgba(255, 255, 255, 0.6);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  font-style: normal;
  padding-top: 17px;
  padding-left: 12px;
}

.user-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  margin: 0;
}

.user-entrance,
.user-registration {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.user-registration {
  margin-left: 8px;
}

.site-navigation {
  color: #ffffff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #293449;
  min-height: 60px;
  padding-left: 22px;
  padding-right: 25px;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 123px;
}

.category li {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  line-height: 30px;
  width: 300px;
  min-height: 123px;
  color: #ffffff;
}

.category-materials {
  background-color: #ffbf47;
}

.category-tools {
  background-color: #3bbce3;
}

.category-technics {
  background-color: #dc91d8;
}

.category-discounts {
  background-color: #8ed78f;
}

.category-delivery {
  background-color: #ffc047;
}

.button-category {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  width: 135px;
  height: 38px;
  background: rgba(0,0,0,.1);
  display: block;
  text-align: center;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-left: 23px;
  margin-top: 14px;
  text-transform: uppercase;
}

.button-category:hover {
  background-color: rgba(0,0,0,.2);
}

.button-category:active {
  background-color: rgba(0,0,0,.3);
}

.popular-product,
.popular-manufacturer {
  background-color: #f9f5f0;
  min-height: 89px;
}

.popular-product h2,
.popular-manufacturer h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  margin-right: auto;
}

.popular-product a,
.popular-manufacturer a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 5px;
}

.catalog-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 21px;
}

.catalog-item {
  width: 218px;
  height: 318px;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.item-header {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.catalog-item .discount {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #a9a9a9;
}

.catalog-item .price {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.manufacturer-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.manufacturer-item {
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.service p {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  width: 398px;
}

.advantage-header {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.advantage-list {
  list-style: none;
}

.advantage-section {
  list-style: none;
}

.advantage-section h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.advantage-section p {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.service-section {
  background-color: #f4f7f9;
  margin-top: 65px;
  min-height: 522px;
}

.about-delivery {
  padding-right: 120px;
}

.about-delivery h2,
.about-contacts h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
}

.about-delivery p {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin-bottom: 0;
}

.about-delivery-block {
  padding-bottom: 24px;
}

.delivery-company {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-about-company,
.feedback {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 10px 0;
  background-color: #ee3643;
  border-radius: 5px;
  width: 220px;
}

.btn-about-company {
  margin-top: 37px;
}

.about-contacts-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  width: 179px;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.feedback {
  width: 300px;
  margin-top: 37px;
  padding-left: 3px;
}

.footer-head {
  background-color: #32425c;
  min-height: 193px;
}

.footer-address,
.footer-telephone {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #f3f7f9;
  width: 323px;
}

.footer-address {
  padding-top: 22px;
}

.footer-nav,
.footer-catalog {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav-item a {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-catalog-item a {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffda96;
}

.footer-bottom {
  background-color: #293449;
  min-height: 107px;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  padding-top: 37px;
}

.copyright p {
  margin: 0;
}

.social-list {
  list-style: none;
  margin-top: 38px;
  margin-left: 136px;
  padding-left: 10px;
}

.footer-mail,
.footer-developer {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer-mail p,
.footer-developer p {
  color: #ffffff;
  margin: 0;
}

.footer-mail a,
.footer-developer a {
  color: #ffd180;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.breadcrumb-item  {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumb-item a  {
  color: #000000;
}

.perforators {
  min-height: 89px;
  background-color: #f2f6f8;
}

.perforators h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.manufacturers-list {
  list-style: none;
}

.manufacturers-item label,
.power-item label {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.manufacturers-item label {
  vertical-align: middle;
}

.manufacturers-title,
.power-title {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.power-title {
  letter-spacing: 0.17px;
}

.power-list {
  list-style: none;
  margin-top: 10px;
}

.btn-filter {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 140px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-top: 62px;
  cursor: pointer;
}

.catalog-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 18px;
}

.about-perforators {
  min-height: 261px;
  background-color: #f4f7f9;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-perforators h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about-perforators p {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  width: 911px;
}

.pagination-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 32px;
}

.pagination-item,
.pagination-item-current {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item a,
.pagination-item-current a {
  display: block;
  color: #000000;
  border-radius: 4px;
  padding: 9px 14.5px;
}

.pagination-item a {
  border: 1px solid #e5e5e5;
}

.pagination-item-current,
.pagination-list .pagination-item:not(:last-child) {
  margin-right: 11px;
}

.pagination-item-current {
  background-color: #ee3643;
  border: 1px solid #ee3643;
  border-radius: 4px;
}

.pagination-item-current a{
  color: #fef5f6;
  padding: 9px 14.5px;
}

.sort {
  width: 700px;
  min-height: 38px;
  background-color: #f7f3ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

.sort a,
.sort-header {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-price {
  color: #ee3643;
}

.sort-type,
.sort-functional {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

input.header-search::-webkit-input-placeholder {
  color: #ffffff;
}

input.header-search::-moz-placeholder {
  color: #ffffff;
}

input.header-search:-ms-input-placeholder {
  color: #ffffff;
}

input.header-search::-ms-input-placeholder {
  color: #ffffff;
}

input.header-search::placeholder {
  color: #ffffff;
}

input.header-search::-webkit-input-placeholder {
  color: #ffffff;
}

input.header-search::-moz-placeholder {
  color: #ffffff;
}

input.header-search:-ms-input-placeholder {
  color: #ffffff;
}

input.header-search::-ms-input-placeholder {
  color: #ffffff;
}

input.header-search::placeholder {
  color: #ffffff;
}

.header-search {
  background-color: #293449;
  width: 245px;
  border: none;
  height: 42px;
  color: #ffffff;
}

.buy-order {
  background-color: #63a63e;
}

.popular-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.popular-product-link {
  width: 253px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
  padding-left: 52px;
  padding-right: 52px;
  margin-top: 28px;
  margin-right: 24px;
}

.popular-product-header {
  margin-left: 30px;
  margin-top: 33px;
}

.about-company-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 74px;
  padding-bottom: 86px;
}

.footer-head-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.creator-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-top: 35px;
}

.category-materials,
.category-tools,
.category-technics,
.category-discounts,
.category-delivery {
  position: relative;
}

.category-materials:first-child::before {
  content: "";
  position: absolute;
  left: 212px;
  top: 31px;
  background-image: url(../img/icon-1.svg);
  width: 44px;
  height: 65px;
}

.category-tools:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 196px;
  top: 32px;
  background-image: url(../img/icon-2.svg);
  width: 75px;
  height: 61px;
}

.category-technics:last-child::before {
  content: "";
  position: absolute;
  left: 190px;
  top: 30px;
  background-image: url(../img/icon-3.svg);
  width: 78px;
  height: 62px;
}

.category-type {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.category {
  padding: 0;
}

.category-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 22px;
  margin-top: 20px;
  margin-bottom: 0;
}

.category-discounts:first-child::before {
  content: "";
  width: 59px;
  height: 72px;
  position: absolute;
  top: 26px;
  right: 45px;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
}

.category-delivery:last-child::before {
  content: "";
  width: 80px;
  height: 64px;
  position: absolute;
  top: 33px;
  right: 29px;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
}

.popular-manufacturer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
}

.popular-manufacturer-link {
  width: 253px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
  padding-left: 69px;
  padding-right: 52px;
  margin-top: 25px;
  margin-right: 24px;
}

.popular-manufacturer-header {
  margin-left: 30px;
  margin-top: 30px;
}

.footer-mail {
  margin-right: 53px;
}

.slider .wrapper {
  width: 620px;
  position: relative;
}

.slider {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider input[type=radio] {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 235px;
  left: 294px;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
}

.slider-1:checked~.slider-controls .slider-controls-item-1::after,
.slider-2:checked~.slider-controls .slider-controls-item-2::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.slider-controls-buttons {
  width: 587px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 140px;
  left: 20px;
}

.slider-controls-buttons label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 10px;
}

.slider-controls-buttons label:first-child::before {
  border-top-style: none;
  border-right-style: none;
}

.slider-controls-buttons label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 3px solid #ffffff;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-controls-buttons label:last-child {
  margin-left: auto;
}

.slider-controls-buttons label:last-child::before {
  border-left-style: none;
  border-bottom-style: none;
}

.slider-list {
  padding: 0;
  margin-top: 20px;
}

.slider-1:checked~.slider-list .slider-list-item:first-child,
.slider-2:checked~.slider-list .slider-list-item:last-child {
  display: block;
}

.slider-list-item:first-child {
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
  background-color: #766357;
}

.slider-list-item {
  display: none;
  width: 620px;
  min-height: 266px;
  color: #fff;
}

.slider-list-item .description {
  background-color: rgba(0,0,0,.2);
  padding: 26px 25px 22px;
}

.slider-list-item h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.slider-list-item span {
  display: block;
  margin: 3px 0 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.slider-list-item a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 102px;
  margin-left: 26px;
  background-color: #ee3643;
  width: 195px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}

.slider-list-item a:hover {
  background-color: #ca2c37;
}

.slider-list-item a:active {
  background-color: #ba2732;
}

.slider-list-item:last-child {
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
  background-color: #766357;
}

.category-other {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  margin-top: 20px;
}

.breadcrumbs-item:not(:last-child) a::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #c1c6ce;
  border-top-style: none;
  border-left-style: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  margin-left: 12px;
}

.breadcrumbs-item a {
  position: relative;
  display: block;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 40px;
}

.perforators-header {
  padding-top: 26px;
  padding-left: 30px;
}

.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manufacturers-filter,
.power,
.range-filter {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.manufacturers-list,
.power-list {
  padding: 0;
}

.filter-header {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  padding-top: 10px;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 18px;
}

.header-telephone::after {
  content: "";
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  position: absolute;
  left: 90px;
}

.header-telephone {
  width: 270px;
  height: 45px;
  padding-top: 10px;
  padding-left: 74px;
  padding-right: 46px;
  padding-bottom: 10px;
  border: 3px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-catalog {
  width: 220px;
  margin-right: 20px;
}

.results-filter {
  margin-bottom: 45px;
  width: 700px;
}

.site-navigation-item a {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;
  display: block;
}

.site-navigation-item a:hover {
  background-color: #1d2739;
}

.site-navigation-item a:active {
  color: rgba(255, 255, 255, 0.5);
}

.manufacturer-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.manufacturer-item:not(:nth-child(4n+4)) {
  margin-right: 20px;
}

.manufacturer-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0 #29344980;
          box-shadow: 0px 10px 25px 0 #29344980;
}

.manufacturer-item .manufacturer-item img:active {
  -webkit-box-shadow: 0px 4px 10px 0 #29344980;
          box-shadow: 0px 4px 10px 0 #29344980;
  color: rgba(41, 52, 73, 0.5);
}

.image {
  margin: 0;
  position: relative;
  width: 220px;
  height: 167px;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-57%,-50%);
      -ms-transform: translate(-57%,-50%);
          transform: translate(-57%,-50%);
}

.catalog-item h3 {
  width: 160px;
  text-align: center;
  padding-left: 27px;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 5px;
}

.catalog-item del {
  padding-left: 78px;
  padding-right: 75px;
}

.catalog-item ins {
  position: relative;
  margin-left: 78px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 11px auto;
  margin-bottom: 20px;
  padding: 11px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.price-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions {
  position: absolute;
  top: 0px;
  left: 0;
  width: 216px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum","Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
  padding-top: 45px;
}

.catalog-item:hover .actions {
  display: block;
}

.item-header-margin {
  padding-bottom: 35px;
}

.catalog-item-margin {
  margin-bottom: 20px;
}

.filter-catalog .range {
  position: relative;
  padding: 38px 20px;
  background-color: #f7f3ec;
}

.range .line {
  width: 160px;
  height: 2px;
  background-color: #00ca74;
  position: absolute;
  top: 38px;
}

.range .line-left {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range p {
  margin: 0;
}

.range-left img, .range-right img {
  position: absolute;
  top: 29px;
  left: 20px;
  cursor: pointer;
}

.range-right img {
  left: 160px;
}

.filter-catalog .cost {
  position: relative;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.filter-catalog .cost::before {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 105px;
  background-color: #444;
}

.cost p {
  margin-top: 0;
}

.cost-min {
  margin-right: auto;
}

.cost input {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 75px;
  border: 0;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 4px;
  padding: 10px;
}

.cost-max {
  margin-left: auto;
}

.filter-catalog fieldset {
  padding: 0;
}

.price-filter {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.range-filter {
  margin-bottom: 15px;
}

.manufacturers-filter {
  margin-bottom: 21px;
}

.manufacturers-list {
  margin-bottom: 20px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-control {
  width: 240px;
  position: relative;
  padding-top: 55px;
}

.services-control::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 230px;
  width: 10px;
  height: 272px;
  background-image: url(../img/line.png);
}

.input-services-1:checked~.services-control .services-control-item-1,
.input-services-2:checked~.services-control .services-control-item-2,
.input-services-3:checked~.services-control .services-control-item-3 {
  background-color: #fff;
  color: #32425c;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.services-control label {
  display: block;
  font-size: 21px;
  font-weight: 700;
  background-color: #32425c;
  padding: 20px 22px 18px;
  -webkit-box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
          box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
  cursor: pointer;
  color: #ffffff;
}

#services-1:checked~.services-list .services-item:first-child,
#services-2:checked~.services-list .services-item:nth-child(2),
#services-3:checked~.services-list .services-item:last-child {
  display: block;
}

.services-item {
  display: none;
  width: 620px;
  min-height: 285px;
  margin-left: 80px;
}

.services-item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.services-item h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
  margin-top: 0;
}

.services h2, .services p {
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

.services p {
  width: 400px;
  margin: 29px 0 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
}

.services h2, .services p {
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

.services-item:first-child img {
  margin-top: 19px;
  margin-right: 40px;
}

.services-list {
  padding: 0;
  margin: 0;
  padding-top: 55px ;
}

.category-section {
  margin-top: 59px;
}

.service {
  padding-top: 40px;
}

.about-company {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 530px;
}

.about-delivery-block {
  width: 519px;
  margin: 0;
}

.about-delivery-text {
  width: 386px;
  margin: 0;
}

.search-form {
  position: relative;
  height: 42px;
}

.search-form input {
  width: 270px;
  height: 43px;
  padding: 0 10px 0 48px;
  color: #f0f1f2;
  background-color: transparent;
  border: 0;
}

.search-form label {
  position: absolute;
  top: 12px;
  left: 17px;
}

.header-search:focus {
  background-color: #ffffff;
  color: #111;
}

.header-search:hover {
  background-color: #212a3a;
  color: #111;
}

.search-form:hover path {
  fill: #ffffff;
}

.header-search:focus+label path {
  fill: #f0525d;
}

.search-form:hover {
  background-color: #212a3a;
}

.bookmarks-icon {
  position: absolute;
  left: 15px;
  top: 12px;
}

.basket-icon {
  position: absolute;
  fill: #616978;
  left: 167px;
  top: 12px;
}

.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.buy-order:hover {
  background-color: #5fbb2d;
}

.buy-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.user-navigation {
  margin-top: 60px;
  margin-left: 68px;
  padding-left: 0;
}

.user-navigation-item:first-child  {
  position: relative;
}

.user-navigation-item a:first-child {
  background-color: #ffffff;
  padding-top: 10px;
  padding-right: 27px;
  padding-bottom: 10px;
  padding-left: 14px;
  margin-right: 10px;
}

.user-entrance-icon {
  padding-right: 12px;
}

.user-navigation-item:last-child a {
  background-color: #ffffff;
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-left: 14px;
  margin-right: 0;
}

.user-navigation-item a:hover {
  color: #ee3643;
}

.user-entrance:hover path,
.user-entrance:hover polygon {
  fill: #32425c;
}

.user-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-entrance:active path,
.user-entrance:active polygon {
  fill: rgba(0, 0, 0, 0.3);
}

.actions {
  position: relative;
}

.actions svg {
  position: absolute;
  left: 53px;
  top: 55px;
}

.buy:hover polygon,
.buy:hover circle {
  fill: #ffffff;
}

.actions .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.actions .buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 10px 35px 0 #bec2c6;
          box-shadow: 0 10px 35px 0 #bec2c6;
}

.actions .bookmark:hover {
  border: 3px solid #32425c;
}

.actions .bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.manufacturer-item:active {
  opacity: 0.3;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.footer-nav-item a:hover,
.footer-catalog-item a:hover,
.footer-developer a:hover,
.footer-mail a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-item a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-developer a:active,
.footer-mail a:active {
  text-decoration: none;
  color: #ee3643;
}

.services-control label:hover {
  background-color: #293449;
}

.footer-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 547px;
  margin: 0;
  padding-top: 39px;
}

.footer-catalog {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 524px;
  padding-top: 15px;
  margin-right: 0;
  margin-left: 21px;
}

.footer-nav li>a {
  margin: 0;
}

.manufacturers-item:not(:last-child) label,
.power-item:not(:last-child) label {
  display: block;
  margin-bottom: 20px;
}

.power {
  margin-left: 0;
}

.manufacturers-item label,
.power-item label {
  position: relative;
  line-height: 20px;
  padding-left: 34px;
  text-transform: uppercase;
  cursor: pointer;
}

.user-name {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  width: 299px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  margin-top: 44px;
  padding-left: 13px;
  padding-top: 15px;
}

.user-name a {
  color: #000000;
}

.user-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name-link {
  padding-right: 13px;
  cursor: pointer;
}

.user-exit {
  cursor: pointer;
}

.user-name-link:hover path {
  fill: #32425c;
}

.user-exit:hover path,
.user-exit:hover polygon {
  fill: #32425c;
}

.personal-orders a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.personal-orders a:hover {
  color: #ee3643;
}

.personal-orders a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-exit:active path,
.user-exit:active polygon,
.user-name-link:active path {
  fill: #c5c5c5;
}

.personal-orders {
  padding-top: 17px;
  padding-left: 9px;
}

.personal-orders a:first-child {
  margin-right: 28px;
  position: relative;
}

.personal-orders a:first-child::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 90px;
  background-color: #32425c;
  border-radius: 50%;
}

.sort-header {
  padding-top: 10px;
  padding-right: 139px;
  padding-left: 19px;
  margin: 0;
}

.sort-section {
  padding-top: 10px;
}

.sort-price {
  margin-right: 70px;
}

.sort-type {
  border-bottom: 1px dashed #ee3643;
  margin-right: 61px;
}

.sort-functional {
  border-bottom: 1px dashed #ee3643;
}

.sort-price:hover,
.sort-type:hover,
.sort-functional:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-type:active,
.sort-functional:active,
.sort-price:active {
  color: #ee3643;
  border-bottom: none;
}

.sort-buttons {
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-buttons .button-up,
.sort-buttons .button-down {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent #c5c5c5;
}

.sort-buttons .button-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sort-buttons .button-down:hover,
.sort-buttons .button-up:hover {
  border-color: transparent transparent #231f20;
}

.sort-buttons .active,
.sort-buttons .button-down:active,
.sort-buttons .button-up:active {
  border-color: transparent transparent #ee3643;
}

.sort-buttons {
  padding-top: 15px;
  margin-left: 44px;
}

.logo a {
  display: inline-block;
  vertical-align: middle;
  width: 165px;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: #fff;
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.logo h1 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
}

.logo a:hover {
  background-color: #ca2c37;
}

.logo a:active {
  background-color: #ba2732;
}

.social-list {
  min-width: 170px;
  margin-right: 85px;
  width: 132px;
}

.social-button,
.social-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-button,
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-item:not(:last-child) .social-button {
  margin-right: 4px;
}

.social-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-top: -3px;
}

.social-list {
  padding: 0;
  padding-left: 10px;
}

.social-button:active,
.social-button:hover {
  background-color: #ee3643;
}

/* уведомление при покупке */
.modal-info {
  display: none;
  position: fixed;
  width: 620px;
  top: 10px;
  left: 50%;
  margin-left: -310px;
  background-color: #fff;
  border-top: 7px solid #ee3643;
  -webkit-box-shadow: 0 15px 32px 0 #ccc;
          box-shadow: 0 15px 32px 0 #ccc;
  z-index: 10;
}

.modal-info .wrapper {
  position: relative;
}

.modal-info .heading-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 80px 49px;
}

.modal-info .icon {
  position: relative;
  margin: 0 30px 0 0;
  width: 67px;
  height: 67px;
  background-color: #63a63e;
  border-radius: 50%;
}

.modal-info .icon::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 32px;
  height: 15px;
  border: 8px solid #fff;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-info h2 {
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -1.4px;
  margin: 0;
  color: #000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal-info .modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px 80px;
  background-color: #f1f1f1;
}

.modal-buttons a {
  color: #fff;
  background-color: #ee3643;
}

.modal-buttons .continue,
.modal-buttons a {
  display: block;
  width: 220px;
  padding: 10px 0;
  text-align: center;
  font-family: "Cuprum","Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
}

.modal-buttons .continue {
  border: 0;
  background: 0 0;
  cursor: pointer;
  background-color: #fff;
  outline: 0;
}

.modal-buttons .modal-close {
  border: 0;
  background: 0 0;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.modal-buttons .modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-buttons .modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-buttons .modal-close::after,
.modal-buttons .modal-close::before {
  content: "";
  width: 25px;
  height: 4px;
  position: absolute;
  left: 2px;
  top: 12px;
  background-color: #ee3643;
}
/* уведомление при покупке -- конец */
/* карта, всплывающее окно */
.blocker {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.blocker .map-popup {
  position: fixed;
  bottom: 190px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: 447px;
  z-index: 3;
  background-image: url(../img/map-popup.jpg);
  background-repeat: no-repeat;
  background-position: -15px -13px;
  -webkit-box-shadow: 0 0 25px 5px #b8b8b8;
          box-shadow: 0 0 25px 5px #b8b8b8;
  -webkit-animation: bounce .6s;
          animation: bounce .6s;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-500px);
		        transform: translateY(-500px);
	}
	100% {
		-webkit-transform: translateY(50px);
		        transform: translateY(50px);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translateY(-500px);
		        transform: translateY(-500px);
	}
	100% {
		-webkit-transform: translateY(50px);
		        transform: translateY(50px);
	}
}

.map-popup .popup-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.map-popup .popup-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.companies-list .companies-item::before,
.map-popup .popup-close::after,
.map-popup .popup-close::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  position: absolute;
  top: 10px;
  left: 0;
}

.map-popup .popup-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about-contacts .map {
  padding: 0;
  margin-top: 32px;
  cursor: pointer;
  border: 0;
}

.popup-close {
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.map-popup .popup-close::after,
.map-popup .popup-close::before {
  height: 4px;
  left: 2px;
  top: 12px;
}

.map-popup .popup-close::before,
.map-popup .popup-close::after {
	content: "";
  width: 25px;
  height: 4px;
  position: absolute;
  left: 2px;
  top: 12px;
  background-color: #ee3643;
}
/* карта, всплывающее окно -- конец */
/* обратная связь, форма */
.modal {
  display: none;
  position: fixed;
  bottom: 150px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  border-top: 7px solid #ee3643;
  background-color: #fff;
  -webkit-box-shadow: 0 0 25px 5px #b8b8b8;
          box-shadow: 0 0 25px 5px #b8b8b8;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 46px;
  -webkit-animation: bounce .6s;
          animation: bounce .6s;
}

.popup-show {
  display: block;
}

.login-form .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 80px;
}

.login-form p {
  margin: 0;
}

.login-form label {
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}

.login-form input,
.login-form textarea {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.login-form input {
  width: 186px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 7px 15px;
  outline: none;
}

.login-form input:hover,
.login-form textarea:hover {
  border: 2px solid #b5b5b5;
}

.login-form input:focus,
.login-form textarea:focus {
  border: 2px solid #ee3643;
}

.login-form textarea {
  width: 428px;
  height: 87px;
  padding: 8px 14px 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.login-form .buttons {
  border: 0;
  background: 0 0;
  cursor: pointer;
  min-height: 38px;
  margin-top: 35px;
  padding: 36px 80px 37px;
  background-color: #f4f4f4;
}

.login-form .inscription {
  margin-top: 22px;
}

.login-form button[type=submit] {
  width: 100%;
  padding: 10px 0;
  background-color: #ee3643;
  font-family: "Cuprum","Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 4px;
}

.login-form .button-close {
  border: 0;
  background: 0 0;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.login-form .button-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login-form .button-close::after,
.login-form .button-close::before {
  content: "";
  width: 25px;
  height: 4px;
  position: absolute;
  left: 2px;
  top: 12px;
  background-color: #ee3643;
}

.login-form .button-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-show {
  display: block;
}

.modal-send {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.send-request {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff5357;
  width: 195px;
  padding: 10px 0;
  margin-top: 28px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.description .delivery,
.description .delivery-slogan,
.description .guarantee,
.description .credit {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.description .delivery {
  width: 275px;
  margin-bottom: 0;
}

.description .delivery-slogan {
  width: 200px;
  margin-top: 0;
}

.delivery-item {
  background-image: url("../img/delivery.png");
  background-size: 468px 261px;
  background-repeat: no-repeat;
  background-position: right 17px;
}

.guarantee-item {
  background-image: url("../img/guarantee.png");
  background-size: 468px 261px;
  background-repeat: no-repeat;
  background-position: right 17px;
}

.credit-item {
  background-image: url("../img/credit.png");
  background-size: 468px 261px;
  background-repeat: no-repeat;
  background-position: right 17px;
}

.description .guarantee {
  width: 370px;
}

.description .credit {
  width: 285px;
}

.bookmarks {
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.basket {
  padding-left: 20px;
  width: 135px;
}

.category-delivery {
  margin-top: 20px;
}

.price-wrapper .discount {
  margin-top: 0;
  word-break: break-word;
}

.catalog-item .price-last {
  margin-top: 30px;
}

.delivery-company .delivery-company-item {
  margin-bottom: 20px;
}

.delivery-company .delivery-company-item {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  padding-left: 35px;
}

.delivery-company .delivery-company-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  position: absolute;
  top: 10px;
  left: 0;
}

.about-delivery-text {
  padding-bottom: 20px;
}

.delivery-company-item {
  margin-bottom: 20px;
}

.basket-buy {
  background-color: #ee3643;
}

.user-name-link span {
  padding-left: 10px;
  padding-right: 20px;
}

.pagination-item:last-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
}

.pagination-item:last-child a {
  padding-left: 30px;
}

.new-product {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 160px 0;
}

.new-section {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 240px 0;
}

.basket-icon circle,
.basket-icon polygon {
  opacity: 0.3;
  fill: #ffffff;
}

.basket-icon:hover polygon,
.basket-icon:hover circle,
.basket-icon:hover path,
.bookmarks-icon:hover path {
  opacity: 1;
  fill: #ffffff;
}

.basket-icon:active polygon,
.basket-icon:active circle,
.basket-icon:active path,
.bookmarks-icon:active path {
  opacity: 0.5;
  fill: #ffffff;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.label-checkbox input[type=checkbox]+.checkbox-indicator::before {
  content: "";
  width: 21px;
  height: 21px;
  border: 2px solid #c5c5c5;
  border-radius: 4px;
  position: absolute;
  top: -1px;
  left: -1px;
}

.label-checkbox input[type=checkbox]:checked+.checkbox-indicator::after {
  content: "";
  width: 17px;
  height: 9px;
  border: 4px solid #c5c5c5;
  border-top-style: none;
  border-right-style: none;
  position: absolute;
  top: 0;
  left: 4px;
  -webkit-transform: rotate(-48deg);
      -ms-transform: rotate(-48deg);
          transform: rotate(-48deg);
  -webkit-box-shadow: inset 0 -2px 0 0 #fff, 0 2px 0 0 #fff;
          box-shadow: inset 0 -2px 0 0 #fff, 0 2px 0 0 #fff;
}

.label-checkbox input[type=checkbox]+.checkbox-indicator:hover::before {
  border: 2px solid #b5b5b5;
}

.label-checkbox input[type=checkbox]:checked+.checkbox-indicator:hover::after {
  border: 4px solid #b5b5b5;
  border-top-style: none;
  border-right-style: none;
}

.label-checkbox input[type=checkbox]:disabled+.checkbox-indicator::before {
  border: 2px solid #b5b5b5;
  opacity: 0.3;
}

.power-label input[type="radio"]+.radio-indicator::before {
  content: "";
  width: 17px;
  height: 17px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.power-label input[type="radio"]:checked+.radio-indicator::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #c5c5c5;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
}

.power-label input[type=radio]+.radio-indicator:hover::before {
  border: 4px solid #b5b5b5;
}

.power-label input[type=radio]:checked+.radio-indicator:hover::after {
  background-color: #b5b5b5;
}

.power-label input[type=radio]:disabled+.radio-indicator::before {
  border: 4px solid #b5b5b5;
  opacity: 0.3;
}
